@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f7;
    font-family: "Inter";
}
.main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 900px){
    img {
        border-radius: 10px;
    }
}
@media (max-width: 500px){
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 14px;
    }
}
.h1 {
    max-width: 1000px;
    margin: 0;
    padding: 0 20px;
}
h1 {
    font-size: 45px;
    text-align: center;
}
  
.img {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 100%;
}
.imgfix {
    position: fixed;
}
.content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.p1 {
    max-width: 1000px;
    margin: 0;
    padding: 7px 20px;
    background: #fff;
    border-radius: 15px;
}
p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 25px;
    color: #1d1d1d;
}
a {
    text-decoration: none;
    color: #0066cc;
}
a:hover {
    text-decoration: underline;
}
.h2s {
    text-align: center;
    font-size: 35px;
}
.ccsticky-nav {
width: 100%;
height: 50px; 
position: fixed; 
top: 0;
background: #fff;
}

.ccsticky-nav ul {
padding: 5px;
margin: 0 auto;
list-style: none;
text-align: center;
}

.ccsticky-nav ul li {
display: inline-block;
margin: 0 10px;
}

.ccsticky-nav ul li a {
padding: 10px 0;
color: #0086dd;
font-size: 2rem;
text-decoration: none;
font-weight: bold;
}

.ccsticky-nav ul li a:hover {
color: #34495E;
}

section {
width: 100%;
padding: 50px;
background: #fff;
border-bottom: 1px solid #ccc;
height: 1024px;
text-align: center;
margin-top: 60px;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 0 auto;
  overflow:hidden;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #fff;
}
th {
  background-color: #0086dd;
  color: #fff;
}
table td {
  padding: 1rem;
}
.spe {
    background: red;
}
